{% load crispy_forms_tags %}

<ul class="nav nav-tabs nav-fill">
	<li class="nav-item">
		<a href="#Curated" data-toggle="tab">Curated</a>
	</li>
	<li class="nav-item">
		<a href="#Custom" data-toggle="tab">Custom</a>
	</li>
	<li class="nav-item">
		<a href="#Add" data-toggle="tab">➕</a>
	</li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane fade" id="Curated">
		{% for filter_set in curated_filter_sets %}
		<div class="card">
			<div class="card-body">
				<p class="card-title"><a href="#">{{ filter_set.name }}</a></p>
				<p class="card-subtitle mb-2 text-muted">{{ filter_set.column_filter_names }}</p>
				<p class="card-text">{{ filter_set.description }}</p>
				<a href="#" class="card-link">👁</a>
				<a href="#" data-toggle="modal" data-target="#FilterSettings" class="card-link">🔧</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="tab-pane fade" id="Custom">
		{% for filter_set in custom_filter_sets %}
		<div class="card">
			<div class="card-body">
				<p class="card-title"><a href="#">{{ filter_set.name }}</a></p>
				<p class="card-subtitle mb-2 text-muted">{{ filter_set.column_filter_names }}</p>
				<p class="card-text">{{ filter_set.description }}</p>
				<a href="#" class="card-link">👁</a>
				<a href="#" data-toggle="modal" data-target="#FilterSettings" class="card-link">🔧</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="tab-pane fade" id="Add">
		<ul class="nav nav-tabs nav-fill">
			<li class="nav-item">
				<a href="#FilterSetForm" data-toggle="tab">Filter Set</a>
			</li>
			<li class="nav-item">
				<a href="#ColumnFilterForm" data-toggle="tab">Column Filter</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade" id="FilterSetForm">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Filter Set</h5>
						<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% crispy filter_set_form %}
						</form>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="ColumnFilterForm">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Column Filter</h5>
						<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% crispy column_filter_form %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="FilterSettings" tabindex="-1" role="dialog" aria-labelledby="FilterSettingsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="FilterSettingsLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
