{% extends "base.html" %}

{% block content %}

<div id="igv-div"></div>

<!-- IGV init -->
<script>
    var igvDiv = document.getElementById("igv-div");
    var options = {
        genome: "hg19",
        locus: "chr8:127,736,588-127,739,371",
        tracks: [
            {{ track_data|safe }}
        ]
    };

    igv.createBrowser(igvDiv, options)
        .then(function (browser) {
            console.log("Created IGV browser");
        })
</script>

{% endblock %}
