{% load i18n %}
{% load static %}


<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">

  <!-- IGV CSS -->
  <link rel="stylesheet" href="{% static 'main/igv/css/igv.css' %}">

  <script type="text/javascript" src="{% static 'main/jquery/js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/popper/js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- IGVjs -->
  <script type="text/javascript" src="{% static "main/igv/js/igv.min.js" %}"></script>

  <link rel="shortcut icon" href="{% static 'main/bacchus/img/favicon.png' %}"/>

  <title>{% block title %}Bacchus{% endblock %}</title>

  {% block extra_js %}{% endblock extra_js %}
</head>

<!-- django-todo-->
{% block extrahead %}{% endblock extrahead %}

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{% url 'main:index' %}" class="brand-logo left" style="margin:8px;"><img src="{% static 'main/bacchus/css/img/genera_logo_dark.png' %}" height="48"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% include 'includes/navbaritems_left.html' %}
      {% include 'includes/navbaritems_right.html' %}
    </div>
  </nav>

  {% include 'includes/breadcrumbs.html' %}

  {% include 'includes/messaging.html' %}

  <div class="container-fluid">
    {% block content %} {% endblock %}
  </div>

  {% include 'includes/footer.html' %}
</body>
</html>
