{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}


{% block content %}
<div class="row" style="margin:15px;">
	<a href="{% querystring '_export'='csv' %}">⬇Csv</a>
</div>

{% for table in tables %}
<h4>{{ table.title }}</h4>
<p style="color:#FF0000";>{{ table.note }}</p>
{% render_table table.table %}
{% endfor %}
{% endblock %}
