{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<h2 align="center">{{ title|safe }}</h2>
<p align="center">{{ note|safe }}</p>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form %}
        {% crispy form %}
        {% elif formset %}
        {% crispy formset %}
        {% endif %}
</form>
{% endblock %}
