{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<h2 align="center">{{ title }}</h2>
<p align="center">{{ note }}</p>

<div class="row">
{% for collection in data %}
<div class="col-sm-6">
  <div class="card">
    {% if collection.rows %}
    <div class="card-header">
      <h5>{{ collection.collection_title}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      {% for row in collection.rows %}
        {% if row.viewer %}
          <li class="list-group-item">
            <a href="{% url row.viewer track=row.media %}">
              <img src="{% static row.icon %}" alt='👁'>
            </a>
            <a href="{{ row.media }}">{{ row.name }}</a>
          </li>
        {% elif row.link %}
          <li class="list-group-item">
            <a href="{% url row.link %}">{{ row.name }}</a>
          </li>
        {% elif row.media %}
          <li class="list-group-item">
            <a href="{{ row.media }}">{{ row.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
