{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load static %}


{% block content %}

<div class="row">
	<button class="btn btn-primary" id="filtersetbutton" type="button" data-toggle="collapse" data-target="#sticky-sidebar" aria-expanded="false" aria-controls="sticky-sidebar">
		Button with data-target
	</button>

	<div class="col-3 px-1 bg-dark position-fixed collapse" id="sticky-sidebar">
	{% include 'doveapp/includes/filtersets.html' %}
	</div>
	<div class="col-10">
		<p>{{ title }}<p>
		<p style="color:#FF0000";>{{ note }}</p>
		{% render_table table %}

		<div class="row" style="margin:15px;">
			<a href="{% querystring '_export'='csv' %}">⬇Csv</a>
		</div>
	</div>
</div>
<style>
#filtersetbutton {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:999;

}
#sticky-sidebar {
	z-index:998;
	top: 40px;
	overflow-y: scroll;
	bottom: 0;
}
</style>
{% endblock %}
