<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'main:institute_browse' %}">Institute: {{ request.session.current_institute_name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'main:project_browse' %}">Project: {{ request.session.current_project_name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'main:panel_browse_curated' %}">Panel: {{ request.session.current_panel_name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'pigeon:pipeline_browse_curated' %}">Sample: {{ request.session.current_pipeline_name }}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'pigeon:pipeline_browse_curated' %}">Variant: {{ request.session.current_pipeline_name }}</a>
    </li>
  </ol>
</nav>
