<footer class="footer">
  <div class="container text-muted">
    <div class="row">
      <div class="col">
        <h5>Bacchus</h5>
        <p>You can use rows and columns here to organize your footer content.</p>
      </div>

      <div class="col">
        <h6>Links</h6>
        <ul>
          <li>
            <a href="{% url 'wiki:root' %}">
              📚 Documentation </a>
          </li>
          <li>
            <a href="{% url 'forum:index' %}">
              🗨 Forums </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container text-muted">
    Bacchus
    <a href="http://gen-era.com.tr">Gen-Era</a>
  </div>
</footer>
