<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'todo:lists' %}">
      <h6>☑ Todo</h6>
    </a></li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'todo:mine' %}">
      <h6>📜 Tasks</h6>
    </a></li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'nyt:json_get' %}">
      <h6>🔔 Notifications</h6>
    </a></li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'main:chat' %}">
      <h6>💬 Messages</h6>
    </a></li>


  {% if user.is_authenticated %}
  <li class="nav-item">
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown-user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ☺ {{ user.username }}
    </a>
    <div class="dropdown-menu" id="dropdown-user">
      <a class="dropdown-item" href="{% url 'admin:index' %}">⚙ Admin</a>
      <a class="dropdown-item" href="{% url 'auth_logout' %}">Log out</a>
    </div>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link"  href="{% url 'auth_login' %}">
      <h6>Log in</h6>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'registration_register' %}">
      <h6>Register</h6>
    </a>
  </li>
  {% endif %}
</ul>
