{% load static %}

<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'pigeon:index' %}">
      <img src={% static 'main/bacchus/img/pigeon.png' %} height=24><h6>Pigeon</h6>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dove:index' %}">
      <img src={% static 'main/bacchus/img/dove.png' %} height=24><h6>Dove</h6>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'picus:index' %}">
      <img src={% static 'main/bacchus/img/picus.png' %} height=24><h6>Picus</h6>
    </a>
  </li>
</ul>
